@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .container-h {
    min-height: calc(100dvh - 2rem);
  }

  .btn-dashboard-primary {
    /* @apply mb-2 me-2 w-fit rounded-lg bg-sky-600 px-5 py-2.5 text-center text-sm font-medium text-white transition duration-500 ease-in-out hover:bg-sky-500 dark:bg-slate-800 dark:hover:bg-slate-700; */
    @apply mb-2 me-2 w-fit rounded-lg bg-sky-600 px-4 py-2 text-center text-sm font-medium text-white transition duration-500 ease-in-out hover:scale-[1.025] hover:bg-sky-500;
  }

  .btn-dashboard-outline {
    @apply btn-dashboard-primary border bg-transparent hover:bg-transparent;
  }

  .btn-dashboard-cancel {
    @apply btn-dashboard-outline border-red-600 text-red-600 hover:border-red-500  hover:text-red-500;
  }
  .paragraph {
    /* @apply text-gray-500 dark:text-gray-400; */
    @apply text-gray-500;
  }
  .descriptor {
    @apply paragraph text-sm;
  }
  .h1 {
    /* @apply text-4xl font-bold dark:text-white; */
    @apply text-4xl font-bold text-gray-700;
  }
  .h2 {
    /* @apply h1 text-2xl dark:text-white; */
    @apply h1 text-2xl;
  }
  .modal-bg {
    /* @apply rounded-lg border border-gray-200 bg-white text-sm text-gray-500 shadow-xl transition duration-300 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400; */
    @apply rounded-lg border border-gray-200 bg-white text-sm text-gray-500 shadow-xl transition duration-300;
  }
  .bg-dashboard {
    /* @apply bg-white dark:bg-slate-900; */
    @apply bg-gray-100;
  }
  .bg-dashboard-wrapper {
    /* @apply bg-[#F0F1FF] shadow-xl dark:bg-gray-950; */
    @apply bg-white shadow-xl;
  }
  .input {
    outline: none;
    /* @apply mt-2 block w-full rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 placeholder-gray-300/50 dark:bg-slate-900 dark:border-none dark:text-gray-400; */
    @apply mt-2 block w-full rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-gray-700 placeholder-gray-300/50 transition focus:border-sky-600;
  }

  .input-outlined {
    @apply input bg-transparent text-white placeholder:text-white/50;
  }

  .glass {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .soft-shadow {
    @apply shadow-[0_3px_10px_rgb(0,0,0,0.2)];
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #86b6f6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4683d4;
}
