header {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 100%;
  backdrop-filter: blur(5px);
}
